div{
color: black;
}

span.span1{
color: red;
}

span.span2{
color:red;
}

span.span3{
color:red;
}

span.span4{
color:red;
}

span.span5{
color:red;
}

span.span6{
color:red;
}